<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(35, 218, 74);
  }
  .nav li {
    float: right;
  }
  .nav li a {
    display: block;
    color:snow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    background-color: lightgrey;
  }

  .nav {
      padding-top:0px;
      margin-bottom: 20px;
     display: inline;
     overflow: hidden;
      height: 30px;
  }
  .ieee{
    color: antiquewhite;
    text-align: center;
    font-size: 50px;
    width: auto;
    line-height: 40px;  
  }
  .ssninfo{
    margin-top:10px ;
    padding-top: 0px;
    width: auto;
    height: auto;

  }
  .intro{
    margin: 6px;
    padding: 0px 0px 10px 10px;
  }
  .ssnpic{
   height:auto;
   width: auto;
  display: inline;
  margin-right: auto;
  margin-left:auto; 
  }
  .ssnpic:hover{
    box-shadow: 0 0 2px 1px lightskyblue;
  }
.ssninfo .info1{
  font-size:x-large;
}
.department{
  height: 100%;
  width: 50%;

}
.mech{
  left:50%;
  ;
  border: 3px brown;
  border-radius: 3px;
  border-style: dotted;
  height: 300px;
  width: 250px;
  
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
  overflow: hidden;
}
.mech img{
  height: 100%;
  width: 100%;
}
.mechdiv{



font-size: x-large;
background-color: ivory;
position: relative;

text-align: center;

height: 60%;

top: -40%;

}

}
.department ol{
  list-style-type: none;
    margin: 0;
    padding: 0;
  overflow: hidden;
  
}
  @media screen and (min-width:1200px){
    .ssnpic{
      height:auto;
      width: auto;
    }
  }
  </style>
</head>
<body style="background-color: #e9ecef;">
<div class="nav">
<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
  <h1 class="ieee">ieee</h1>
</ul>
</div>
<div class="jumbotron ssninfo">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img  class="ssnpic" src="https://www.noticebard.com/wp-content/uploads/2018/01/SSN.png" alt="Los Angeles" >
      </div>

      <div class="item">
        <img class="ssnpic" src="https://www.noticebard.com/wp-content/uploads/2018/01/SSN.png" alt="Chicago" >
      </div>
    
      <div class="item">
        <img class="ssnpic" src="https://www.noticebard.com/wp-content/uploads/2018/01/SSN.png" alt="New york" >
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
 
</div>
    <p class="info1">To get the most out of Visual Studio Code, start by reviewing a few introductory topics:

      Intro Videos - Begin your journey with VS Code through these introductory videos.
      
      Setup - Install VS Code for your platform and configure the tool set for your development needs.
      
      User Interface - Introduction to the basic UI, commands, and features of the VS Code editor.
      
      Settings - Customize VS Code for how you like to work.
      
      Languages - Learn about VS Code's support for your favorite programming languages.
      
      Node.js - This tutorial gets you quickly running and debugging a Node.js web app.
      
      Tips and Tricks - Jump right in with Tips and Tricks to become a VS Code power user.
      
      Azure - VS Code is great for deploying your web applications to the cloud.
      
      Extension API - Learn how to write a VS Code extension.
      
      Why VS Code? - Read about the design philosophy and architecture of VS Code</p>
</div>
<div class=" container">
  <% var i %>
    <% for(i=0; i< list.length; i++){ %>
    <% var redirect="/"+list[i];%>
  <a href= <%=redirect%> >
    <div class="mech">
      
    
      <img src="https://www.noticebard.com/wp-content/uploads/2018/01/SSN.png" alt="">
      <div class="mechdiv">
        <%= list[i] %>
      </div> </div>
  </a>
  <% } %>
</div>
</body>
</html>
